USE [master]
GO
/****** Object:  Database [Asp_DOT_NetCore_DB]    Script Date: 28-04-2024 01:08:33 PM ******/
CREATE DATABASE [Asp_DOT_NetCore_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Asp_DOT_NetCore_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Asp_DOT_NetCore_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Asp_DOT_NetCore_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Asp_DOT_NetCore_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Asp_DOT_NetCore_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Asp_DOT_NetCore_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[D_Id] [int] IDENTITY(1,1) NOT NULL,
	[Department_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_Department] PRIMARY KEY CLUSTERED 
(
	[D_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[EmpGender] [varchar](20) NOT NULL,
	[EmpSalary] [decimal](18, 2) NOT NULL,
	[EmpAge] [int] NOT NULL,
	[EmailId] [varchar](100) NULL,
	[Password] [varchar](300) NULL,
	[ConfirmPassword] [varchar](300) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employeeData]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employeeData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Mobile] [bigint] NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[is_deleted] [int] NULL,
 CONSTRAINT [PK_tbl_employeeData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HotelData]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HotelData](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[DishName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[DishImageName] [nvarchar](800) NOT NULL,
	[OrderDate] [datetime] NULL,
	[Is_deleted] [int] NOT NULL,
 CONSTRAINT [PK_tbl_HotelData] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MstDepartment]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MstDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[department_Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_StudentRegData]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StudentRegData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Age] [int] NULL,
	[Address] [varchar](500) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_StudentUsingEntity]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StudentUsingEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudName] [varchar](100) NOT NULL,
	[StudGender] [varchar](20) NOT NULL,
	[StudAge] [int] NOT NULL,
	[StudStandard] [int] NOT NULL,
 CONSTRAINT [PK_tbl_StudentUsingEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserForJWT]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserForJWT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_UserForJWT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 28-04-2024 01:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230821170653_initial_migration', N'6.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230822201930_department_table', N'6.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230902172147_Created_HotelTable', N'6.0.20')
GO
SET IDENTITY_INSERT [dbo].[tbl_Department] ON 

INSERT [dbo].[tbl_Department] ([D_Id], [Department_name]) VALUES (1, N'Account')
INSERT [dbo].[tbl_Department] ([D_Id], [Department_name]) VALUES (2, N'Information Technology')
INSERT [dbo].[tbl_Department] ([D_Id], [Department_name]) VALUES (3, N'Sales')
SET IDENTITY_INSERT [dbo].[tbl_Department] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

INSERT [dbo].[tbl_Employee] ([EmpId], [EmpName], [EmpGender], [EmpSalary], [EmpAge], [EmailId], [Password], [ConfirmPassword]) VALUES (1, N'Akshay', N'Male', CAST(18000.00 AS Decimal(18, 2)), 23, N'akshay123@gmail.com', N'Akshay@123', N'Akshay@123')
INSERT [dbo].[tbl_Employee] ([EmpId], [EmpName], [EmpGender], [EmpSalary], [EmpAge], [EmailId], [Password], [ConfirmPassword]) VALUES (3, N'Pankaj', N'Male', CAST(20000.00 AS Decimal(18, 2)), 22, N'Pankaj123@gmail.com', N'Pankaj@123', N'Pankaj@123')
INSERT [dbo].[tbl_Employee] ([EmpId], [EmpName], [EmpGender], [EmpSalary], [EmpAge], [EmailId], [Password], [ConfirmPassword]) VALUES (5, N'Avinash', N'Male', CAST(18000.00 AS Decimal(18, 2)), 249, N'Avinash123@gmail.com', N'Avinash@123', N'Avinash@123')
SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_employeeData] ON 

INSERT [dbo].[tbl_employeeData] ([Id], [FName], [LName], [Email], [Mobile], [DOB], [Age], [Gender], [Department], [Salary], [Address], [CreatedOn], [is_deleted]) VALUES (1, N'Akshay', N'Gaikwad', N'akshay123@gmail.com', 8104727818, CAST(N'2002-01-02T00:00:00.0000000' AS DateTime2), 22, N'Male', N'Information_Technology', CAST(20000.00 AS Decimal(18, 2)), N'Dindoshi, Goregaon East', NULL, 1)
INSERT [dbo].[tbl_employeeData] ([Id], [FName], [LName], [Email], [Mobile], [DOB], [Age], [Gender], [Department], [Salary], [Address], [CreatedOn], [is_deleted]) VALUES (2, N'Ganesh', N'Manavatkar', N'Ganesh22@gmail.com', 8867568909, CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), 25, N'Male', N'Accountant', CAST(23000.00 AS Decimal(18, 2)), N'Bhayandar, Miraroad East', NULL, 1)
INSERT [dbo].[tbl_employeeData] ([Id], [FName], [LName], [Email], [Mobile], [DOB], [Age], [Gender], [Department], [Salary], [Address], [CreatedOn], [is_deleted]) VALUES (3, N'Vivek', N'Rikame', N'vivek02@gmail.com', 8587585859, CAST(N'2023-08-31T00:00:00.0000000' AS DateTime2), 23, N'Male', N'Sales', CAST(25000.76 AS Decimal(18, 2)), N'Nallasopara', CAST(N'2023-08-23T00:12:03.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[tbl_employeeData] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_HotelData] ON 

INSERT [dbo].[tbl_HotelData] ([CustomerId], [CustomerName], [DishName], [Quantity], [Amount], [DishImageName], [OrderDate], [Is_deleted]) VALUES (1, N'Vivek', N'Pizza', 2, 860, N'd37d38b7-da61-4b21-9200-aa1913574381_pizza.jpeg', CAST(N'2023-09-05T21:51:00.027' AS DateTime), 1)
INSERT [dbo].[tbl_HotelData] ([CustomerId], [CustomerName], [DishName], [Quantity], [Amount], [DishImageName], [OrderDate], [Is_deleted]) VALUES (2, N'Priyanka Gaikwad', N'Chicken Fried Rice', 2, 1000, N'2ecc7ee8-043e-4376-b7c1-05fe7b4f9f82_chicken_fried_rice.jpeg', CAST(N'2023-09-05T23:26:21.000' AS DateTime), 1)
INSERT [dbo].[tbl_HotelData] ([CustomerId], [CustomerName], [DishName], [Quantity], [Amount], [DishImageName], [OrderDate], [Is_deleted]) VALUES (9, N'Vivek', N'Pizza', 1, 567, N'8471308c-2f82-480e-b5c1-0e9b56854e8d_pizza.jpeg', CAST(N'2023-09-06T01:41:29.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tbl_HotelData] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_MstDepartment] ON 

INSERT [dbo].[tbl_MstDepartment] ([Id], [department_Name]) VALUES (1, N'Account')
INSERT [dbo].[tbl_MstDepartment] ([Id], [department_Name]) VALUES (2, N'Information Technology')
INSERT [dbo].[tbl_MstDepartment] ([Id], [department_Name]) VALUES (3, N'Sales')
SET IDENTITY_INSERT [dbo].[tbl_MstDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_StudentRegData] ON 

INSERT [dbo].[tbl_StudentRegData] ([Id], [Name], [Age], [Address], [CreatedOn]) VALUES (1, N'Akshay', 22, N'MiraRoad', CAST(N'2024-04-02T21:32:08.047' AS DateTime))
INSERT [dbo].[tbl_StudentRegData] ([Id], [Name], [Age], [Address], [CreatedOn]) VALUES (2, N'Ganesh', 23, N'Bhayandar', CAST(N'2024-04-02T21:32:35.823' AS DateTime))
INSERT [dbo].[tbl_StudentRegData] ([Id], [Name], [Age], [Address], [CreatedOn]) VALUES (3, N'Avinash', 24, N'Shethphale', CAST(N'2024-04-02T21:34:41.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_StudentRegData] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_StudentUsingEntity] ON 

INSERT [dbo].[tbl_StudentUsingEntity] ([Id], [StudName], [StudGender], [StudAge], [StudStandard]) VALUES (1, N'Akshay', N'Male', 22, 13)
INSERT [dbo].[tbl_StudentUsingEntity] ([Id], [StudName], [StudGender], [StudAge], [StudStandard]) VALUES (2, N'Ganesh', N'Male', 22, 13)
INSERT [dbo].[tbl_StudentUsingEntity] ([Id], [StudName], [StudGender], [StudAge], [StudStandard]) VALUES (3, N'Sai PAllavi', N'Female', 22, 13)
SET IDENTITY_INSERT [dbo].[tbl_StudentUsingEntity] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_UserForJWT] ON 

INSERT [dbo].[tbl_UserForJWT] ([Id], [FirstName], [LastName], [UserName], [Password], [IsActive]) VALUES (4, N'System', N'', N'System', N'System', 1)
INSERT [dbo].[tbl_UserForJWT] ([Id], [FirstName], [LastName], [UserName], [Password], [IsActive]) VALUES (5, N'akshay', N'akshay', N'akshay', N'akshay', 1)
SET IDENTITY_INSERT [dbo].[tbl_UserForJWT] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProducts] ON 

INSERT [dbo].[tblProducts] ([Id], [Name], [Description], [Stock]) VALUES (1, N'door', N'door description', 400)
SET IDENTITY_INSERT [dbo].[tblProducts] OFF
GO
ALTER TABLE [dbo].[tbl_StudentRegData] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_StudentUsingEntity] ADD  DEFAULT ((0)) FOR [StudStandard]
GO
USE [master]
GO
