USE [master]
GO
/****** Object:  Database [blueStarDb]    Script Date: 28-04-2024 01:09:54 PM ******/
CREATE DATABASE [blueStarDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blueStarDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\blueStarDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blueStarDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\blueStarDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blueStarDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blueStarDb]
GO
/****** Object:  Table [dbo].[tbl_errorLog]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_errorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [varchar](max) NULL,
	[Date_Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LanguageMaster]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LanguageMaster](
	[LagId] [int] IDENTITY(1,1) NOT NULL,
	[Language] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SurveyMaster]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SurveyMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LagId] [int] NULL,
	[Text1] [nvarchar](1000) NULL,
	[Text2] [nvarchar](1000) NULL,
	[Questions] [nvarchar](1000) NULL,
	[ControlType] [nvarchar](1000) NULL,
	[vdata] [nvarchar](50) NULL,
	[Header] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[EmailId] [varchar](60) NULL,
	[Password] [varchar](30) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserFeedback]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserFeedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [date] NULL,
	[Ticket_Number] [varchar](12) NULL,
	[MobileNumber] [bigint] NULL,
	[Q1] [int] NULL,
	[Q2] [int] NULL,
	[Q3] [int] NULL,
	[Q4] [int] NULL,
	[Q5] [nvarchar](3) NULL,
	[Q6] [nvarchar](max) NULL,
	[Form_Submission] [char](1) NULL,
	[Q7] [varchar](3) NULL,
	[LagId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_errorLog] ON 

INSERT [dbo].[tbl_errorLog] ([Id], [Message], [Date_Time]) VALUES (1, N'The ConnectionString property has not been initialized.', CAST(N'2023-10-04T17:42:13.787' AS DateTime))
INSERT [dbo].[tbl_errorLog] ([Id], [Message], [Date_Time]) VALUES (2, N'Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index', CAST(N'2023-10-22T18:43:59.807' AS DateTime))
INSERT [dbo].[tbl_errorLog] ([Id], [Message], [Date_Time]) VALUES (3, N'Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index', CAST(N'2023-10-22T18:45:12.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_errorLog] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_LanguageMaster] ON 

INSERT [dbo].[tbl_LanguageMaster] ([LagId], [Language]) VALUES (1, N'English')
INSERT [dbo].[tbl_LanguageMaster] ([LagId], [Language]) VALUES (2, N'Hindi')
INSERT [dbo].[tbl_LanguageMaster] ([LagId], [Language]) VALUES (3, N'Marathi')
SET IDENTITY_INSERT [dbo].[tbl_LanguageMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SurveyMaster] ON 

INSERT [dbo].[tbl_SurveyMaster] ([Id], [LagId], [Text1], [Text2], [Questions], [ControlType], [vdata], [Header]) VALUES (1, 1, N'Dear Customer,
Thank you for getting our services at your place. We would like to know how our service team performed. Please spare some moments to give us your valuable feedback as it will help us in improving our service.', N'Please rate your service experience for the following parameters', N'1. How easy was it to lodge a complaint in our call centre?', N'Radio', N'1-10', N'Customer Satisfaction Feedback Form - Service')
INSERT [dbo].[tbl_SurveyMaster] ([Id], [LagId], [Text1], [Text2], [Questions], [ControlType], [vdata], [Header]) VALUES (2, 1, N'Dear Customer,
Thank you for getting our services at your place. We would like to know how our service team performed. Please spare some moments to give us your valuable feedback as it will help us in improving our service.', N'Please rate your service experience for the following parameters', N'2. How do you rate commitment of the technician reaching at site as per the appointment?', N'Radio', N'1-10', N'Customer Satisfaction Feedback Form - Service')
INSERT [dbo].[tbl_SurveyMaster] ([Id], [LagId], [Text1], [Text2], [Questions], [ControlType], [vdata], [Header]) VALUES (3, 1, N'Dear Customer,
Thank you for getting our services at your place. We would like to know how our service team performed. Please spare some moments to give us your valuable feedback as it will help us in improving our service.', N'Please rate your service experience for the following parameters', N'3. How would you rate the quality of work / problem resolution?', N'Radio', N'1-10', N'Customer Satisfaction Feedback Form - Service')
SET IDENTITY_INSERT [dbo].[tbl_SurveyMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_User] ON 

INSERT [dbo].[tbl_User] ([Id], [UserName], [EmailId], [Password], [IsActive]) VALUES (1, N'Ashvini', N'Ashvinikadam097@gmail.com', N'Ashini00', 0)
INSERT [dbo].[tbl_User] ([Id], [UserName], [EmailId], [Password], [IsActive]) VALUES (2, N'Dipendu', N'dipendughosh@gmail.com', N'ghosh123', 0)
INSERT [dbo].[tbl_User] ([Id], [UserName], [EmailId], [Password], [IsActive]) VALUES (3, N'saurabh', N'saurabh31@gmail.com', N'saurabh@31', 0)
SET IDENTITY_INSERT [dbo].[tbl_User] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_UserFeedback] ON 

INSERT [dbo].[tbl_UserFeedback] ([Id], [TimeStamp], [Ticket_Number], [MobileNumber], [Q1], [Q2], [Q3], [Q4], [Q5], [Q6], [Form_Submission], [Q7], [LagId]) VALUES (1, CAST(N'2023-09-22' AS Date), N'123456789123', 7900156339, 10, 9, 9, 8, N'Yes', N'', N'Y', NULL, NULL)
INSERT [dbo].[tbl_UserFeedback] ([Id], [TimeStamp], [Ticket_Number], [MobileNumber], [Q1], [Q2], [Q3], [Q4], [Q5], [Q6], [Form_Submission], [Q7], [LagId]) VALUES (2, CAST(N'2023-09-25' AS Date), N'123456789456', 9619596046, 1, 1, 1, 1, N'No', N'', N'Y', NULL, NULL)
INSERT [dbo].[tbl_UserFeedback] ([Id], [TimeStamp], [Ticket_Number], [MobileNumber], [Q1], [Q2], [Q3], [Q4], [Q5], [Q6], [Form_Submission], [Q7], [LagId]) VALUES (4, CAST(N'2023-09-25' AS Date), N'123456789789', 8108278974, 5, 5, 5, 5, N'Yes', N'', N'Y', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_UserFeedback] OFF
GO
ALTER TABLE [dbo].[tbl_SurveyMaster]  WITH CHECK ADD FOREIGN KEY([LagId])
REFERENCES [dbo].[tbl_LanguageMaster] ([LagId])
GO
/****** Object:  StoredProcedure [dbo].[proc_LanguageMaster]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_LanguageMaster] (
@LagId int=0,
@Language varchar(50)='',
@Action varchar(50)=''
)
as begin
if(@Action='Insert')
begin
insert into tbl_LanguageMaster(Language)
values
(@Language)
end
end
GO
/****** Object:  StoredProcedure [dbo].[proc_SurveyMaster]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_SurveyMaster] (
    @Id int = 0,
    @LagId int = 0,
    @Text1 nvarchar(1000) = '',
    @Text2 nvarchar(1000) = '',
    @Questions nvarchar(1000) = '',
    @ControlType nvarchar(1000) = '',
    @vdata nvarchar(50) = '',
    @Action nvarchar(50) = '',
    @lng_value int = 0
)
AS 
BEGIN
    IF (@Action = 'Languages')
    BEGIN
        -- Add the new column Header to the SELECT statement
        SELECT *
        FROM tbl_SurveyMaster 
        WHERE LagId = @lng_value;
    END

    IF (@Action = 'lag')
    BEGIN
        SELECT * FROM tbl_LanguageMaster;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[Proc_User]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_User]
@UserName varchar(100) = '',
@EmailId varchar(60) = '',
@Password varchar(30) = '',
@IsActive bit = 0,
@Type int = 0
AS
Begin
if(@Type = 1)
if(@EmailId <> '' and @Password <> '')
	BEGIN
		DECLARE @matchpwd varchar(MAX),@pwd varchar(MAX)
		SET @matchpwd = @password
		SET @pwd = (SELECT password from tbl_User WHERE EmailId = @EmailId)
		IF  @pwd = @matchpwd
			BEGIN
				select UserName, EmailId, Password from tbl_User where EmailId = @EmailId
			END
		ELSE
			return null
		END
end
select * from tbl_User
GO
/****** Object:  StoredProcedure [dbo].[proc_UserFeedback]    Script Date: 28-04-2024 01:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_UserFeedback]
@TimeStamp Date = null,
@Ticket_Number Varchar(12) = null,
@MobileNumber BIGINT = 0,
@Q1 int = 0,
@Q2 int = 0,
@Q3 int = 0,
@Q4 int = 0,
@Q5 varchar(3) = '',
@Q6 nvarchar(100) = '',
@Q7 varchar(100) = '',
@Form_Submission char(1) =  '',
@from_date datetime = null, 
@to_date datetime = null,
@Message varchar(MAX) = '',
@Date_Time Datetime = null,
@LagValue int = 0,
@LagId int=0,
@Type int = 0
AS
Begin
if(@Type = 1)
begin
INSERT INTO tbl_UserFeedback(TimeStamp, Ticket_Number, MobileNumber, Q1, Q2, Q3, Q4, Q5,Q6,Q7, Form_Submission,LagId)
Values(CONVERT(VARCHAR(10), getdate(), 111),@Ticket_Number, @MobileNumber, @Q1, @Q2, @Q3, @Q4, @Q5, convert(nvarchar,@Q6),@Q7, @Form_Submission,@LagValue)
End
if(@Type = 2)
Begin
IF(@MobileNumber <> 0 and @Ticket_Number <> '')
	select Form_Submission from tbl_UserFeedback where MobileNumber = @MobileNumber and Ticket_Number = @Ticket_Number
end

if(@Type=3)
Begin
Update tbl_UserFeedback set Form_Submission = 'N' where MobileNumber = @MobileNumber and Ticket_Number = @Ticket_Number
End

if(@Type=4)
Begin
Select Q1 from tbl_UserFeedback where TimeStamp = @TimeStamp
End

if(@Type=5)
begin
SELECT  COUNT(Q1) As Q1_TotalUserFeedback,COUNT(Q2) As Q2_TotalUserFeedback,
		  COUNT(Q3)As Q3_TotalUserFeedback,COUNT(Q4) As Q4_TotalUserFeedback,
		  AVG(Q1) As Q1_AvgOfUserFeedback, AVG(Q2) As Q2_AvgOfUserFeedback,
		  AVG(Q3) As Q3_AvgOfUserFeedback, AVG(Q4) As Q4_AvgOfUserFeedback 
FROM tbl_UserFeedback
end

if(@Type=6)
begin
SELECT t1.TimeStamp, t1.Ticket_Number, t1.MobileNumber, t1.Q1, t1.Q2, t1.Q3, t1.Q4, t1.Q5, t1.Q6,t1.Q7, t1.Form_Submission,t2.Language
FROM tbl_UserFeedback as t1 inner join tbl_LanguageMaster as t2 on t1.LagId=t2.LagId 
end
if(@Type=7)
begin
if (@from_date <> null and @to_date <> null)
begin
SELECT t1.TimeStamp, t1.Ticket_Number, t1.MobileNumber, t1.Q1, t1.Q2, t1.Q3, t1.Q4, t1.Q5, t1.Q6,t1.Q7, t1.Form_Submission,t2.Language
FROM tbl_UserFeedback as t1 inner join tbl_LanguageMaster as t2 on t1.LagId=t2.LagId
where t1.TimeStamp between @from_date and @to_date
end
if (@LagValue <> 0)
begin
SELECT t1.TimeStamp, t1.Ticket_Number, t1.MobileNumber, t1.Q1, t1.Q2, t1.Q3, t1.Q4, t1.Q5, t1.Q6,t1.Q7, t1.Form_Submission,t2.Language
FROM tbl_UserFeedback as t1 inner join tbl_LanguageMaster as t2 on t1.LagId=t2.LagId
Where t1.TimeStamp between @from_date and @to_date and t1.LagId = @LagValue
end
end
if(@Type=8)
begin
insert into tbl_errorLog (Message,Date_Time) values(@Message,GETDATE())
end
end
GO
USE [master]
GO
