USE [master]
GO
/****** Object:  Database [CompanyWorkingStandard]    Script Date: 28-04-2024 01:10:25 PM ******/
CREATE DATABASE [CompanyWorkingStandard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyWorkingStandard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CompanyWorkingStandard.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyWorkingStandard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CompanyWorkingStandard_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyWorkingStandard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyWorkingStandard]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ShiftId] [int] NULL,
	[AttenDate] [date] NULL,
	[InTime] [time](7) NULL,
	[OutTime] [time](7) NULL,
	[WorkingHours] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
	[ModifyOn] [datetime] NULL,
	[DeletedBy] [varchar](100) NULL,
	[DeletedOn] [datetime] NULL,
	[Action] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceInOutLog]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceInOutLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[SiftRefId] [int] NULL,
	[AttenDate] [date] NULL,
	[AttenTime] [time](7) NULL,
	[In_Out] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControllerActionMaster]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControllerActionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [varchar](100) NULL,
	[ActionMethodName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifyOn] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleControllActionMapping]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleControllActionMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ContrActionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesMaster]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifyOn] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftReferMaster]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftReferMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [varchar](20) NULL,
	[ShiftDescription] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartsFrom] [time](7) NULL,
	[EndsAt] [time](7) NULL,
	[ShiftsReferenceId] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAttendanceLog]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAttendanceLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AttenDate] [date] NULL,
	[AttenTime] [time](7) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
	[ModifyOn] [datetime] NULL,
	[DeletedBy] [varchar](100) NULL,
	[DeletedOn] [datetime] NULL,
	[Action] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](max) NULL,
	[Address] [varchar](500) NULL,
	[Phone] [bigint] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifyOn] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMapping](
	[URMId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[URMId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWorkingHours]    Script Date: 28-04-2024 01:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWorkingHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AttenDate] [date] NULL,
	[AttenRemark] [varchar](20) NULL,
	[WorkingHours] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RolesMaster] ON 

INSERT [dbo].[RolesMaster] ([RoleId], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (1, N'Super Admin', 1, CAST(N'2024-04-13T18:24:05.847' AS DateTime), N'AK', NULL, NULL)
INSERT [dbo].[RolesMaster] ([RoleId], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (2, N'Admin', 1, CAST(N'2024-04-13T18:24:28.180' AS DateTime), N'AK', NULL, NULL)
INSERT [dbo].[RolesMaster] ([RoleId], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (3, N'Power User', 1, CAST(N'2024-04-13T18:24:40.563' AS DateTime), N'AK', NULL, NULL)
SET IDENTITY_INSERT [dbo].[RolesMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([Id], [Name], [Email], [Password], [Address], [Phone], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (1, N'akshay', N'akshay123@gmail.com', N'Akshay@123', N'Miraroad', 1234554321, 1, CAST(N'2024-04-18T21:39:04.573' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[UserMaster] ([Id], [Name], [Email], [Password], [Address], [Phone], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (2, N'Ganesh', N'ganesh123@gmail.com', N'Ganesh@123', N'Mira Road', 7678656789, 1, CAST(N'2024-04-18T23:56:34.590' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[UserMaster] ([Id], [Name], [Email], [Password], [Address], [Phone], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (3, N'Sai', N'Sai123@gmail.com', N'Sai@123', N'Chennai', 7878788989, 1, CAST(N'2024-04-19T00:00:38.643' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleMapping] ON 

INSERT [dbo].[UserRoleMapping] ([URMId], [UserId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoleMapping] ([URMId], [UserId], [RoleId]) VALUES (2, 2, 4)
INSERT [dbo].[UserRoleMapping] ([URMId], [UserId], [RoleId]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[UserRoleMapping] OFF
GO
/****** Object:  Index [UQ__UserMast__5C7E359E83D00561]    Script Date: 28-04-2024 01:10:26 PM ******/
ALTER TABLE [dbo].[UserMaster] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserMast__A9D10534FDEC5DDD]    Script Date: 28-04-2024 01:10:26 PM ******/
ALTER TABLE [dbo].[UserMaster] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ControllerActionMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ControllerActionMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[RolesMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RolesMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ShiftReferMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserAttendanceLog] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
ALTER TABLE [dbo].[AttendanceInOutLog]  WITH CHECK ADD FOREIGN KEY([SiftRefId])
REFERENCES [dbo].[ShiftReferMaster] ([Id])
GO
ALTER TABLE [dbo].[AttendanceInOutLog]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
ALTER TABLE [dbo].[RoleControllActionMapping]  WITH CHECK ADD FOREIGN KEY([ContrActionId])
REFERENCES [dbo].[ControllerActionMaster] ([Id])
GO
ALTER TABLE [dbo].[RoleControllActionMapping]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[RolesMaster] ([RoleId])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([ShiftsReferenceId])
REFERENCES [dbo].[ShiftReferMaster] ([Id])
GO
ALTER TABLE [dbo].[UserAttendanceLog]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
ALTER TABLE [dbo].[UserRoleMapping]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[RolesMaster] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoleMapping]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
ALTER TABLE [dbo].[UserWorkingHours]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
USE [master]
GO
