USE [master]
GO
/****** Object:  Database [db_practice]    Script Date: 28-04-2024 01:13:22 PM ******/
CREATE DATABASE [db_practice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_practice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_practice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_practice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_practice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_practice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_practice]
GO
/****** Object:  UserDefinedFunction [dbo].[addition]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[addition](@num1 as int, @num2 as int)
returns int
begin
return (@num1+isnull(@num2,6));
end
GO
/****** Object:  UserDefinedFunction [dbo].[checkAgeForVote]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[checkAgeForVote](@age int)
returns varchar(100)
begin
	declare @str varchar(100)
	if(@age>=18)
	begin
	set @str='You are eligible for vote'
	end
	else
	begin
	set @str='You are not eligible for vote'
	end
return @str
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getEmpData]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getEmpData](@Id int) --[it's created  in table-valued function]
returns @table1 table (empName varchar(100), empAge int, empSalary Decimal(10,2), empMobile bigint)
as
begin
	insert into @table1
	select EmpName,EmpAge,EmpSalary,EmpMobile from tbl_employee where Id = 9
	return
end
GO
/****** Object:  UserDefinedFunction [dbo].[getCurrentDate]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getCurrentDate]()
returns datetime
as
begin
return getdate()
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomersWithOrdersDetails]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetCustomersWithOrdersDetails] ()
RETURNS @CustomersWithOrders TABLE 
(CustomerID int, ContactName nvarchar(50), 
Orderid int,orderdate date,city varchar(50))
AS
BEGIN
   INSERT INTO @CustomersWithOrders
   SELECT c.customer_id, c.ContactName, 
   order_id ,order_date,city
   FROM Customer c
   JOIN Orders o ON c.customer_id = o.customer_id
  
   RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[showMessage]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[showMessage]()
returns varchar(100)
as
begin
return 'He! welcome to akshay db'
end
GO
/****** Object:  Table [dbo].[tbl_employee]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](100) NULL,
	[EmpAge] [int] NULL,
	[EmpSalary] [decimal](10, 2) NULL,
	[EmpMobile] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_employee]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_employee]
as
select * from tbl_employee where Empage=25
GO
/****** Object:  UserDefinedFunction [dbo].[getEmployeeData]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getEmployeeData]()
returns table
as
return (select * from tbl_employee)
GO
/****** Object:  UserDefinedFunction [dbo].[getEmployeeDataByAge]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getEmployeeDataByAge](@age int)
returns table
as
return (select * from tbl_employee where EmpAge<=@age)
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Address] [varchar](250) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditLog]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityLog] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] NOT NULL,
	[contactname] [varchar](50) NOT NULL,
	[city] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emp_details]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_time] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_payroll]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_payroll](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](100) NULL,
	[Designation] [varchar](50) NULL,
	[Basic Pay] [int] NULL,
	[House Rent Allowance] [int] NULL,
	[Convence Allowance] [int] NULL,
	[Medical Allowance] [int] NULL,
	[Gross Pay]  AS ((([Basic Pay]+[House Rent Allowance])+[Convence Allowance])+[Medical Allowance]),
	[Company Name]  AS ('Ak Company'),
	[Date]  AS (getdate()),
	[Gender] [varchar](10) NULL,
	[City] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_payroll_persisted_ex]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_payroll_persisted_ex](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](100) NULL,
	[Designation] [varchar](50) NULL,
	[Basic Pay] [int] NULL,
	[House Rent Allowance] [int] NULL,
	[Convence Allowance] [int] NULL,
	[Medical Allowance] [int] NULL,
	[Gross Pay]  AS ((([Basic Pay]+[House Rent Allowance])+[Convence Allowance])+[Medical Allowance]) PERSISTED
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
 CONSTRAINT [PK_EmployeeInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Student] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[Marks] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[order_date] [date] NULL,
	[country] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_LIST]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_LIST](
	[P_ID] [int] NULL,
	[P_NAME] [varchar](100) NULL,
	[P_PRICE] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_sales]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_sales](
	[prod_Id] [int] IDENTITY(1,1) NOT NULL,
	[prod_Name] [varchar](100) NULL,
	[prod_Quantity] [int] NULL,
	[prod_Price] [int] NULL,
	[prod_Total_Cost]  AS ([prod_Quantity]*[prod_Price]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[prod_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_activityLog]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_activityLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityInfo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CheckTringle]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CheckTringle](
	[A] [int] NULL,
	[B] [int] NULL,
	[C] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_demo]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_demo](
	[Id] [int] NULL,
	[Name] [varchar](300) NULL,
	[Age] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_demo_non_clust]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_demo_non_clust](
	[Id] [int] NOT NULL,
	[Name] [varchar](300) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_guidIdTable]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_guidIdTable](
	[Id] [uniqueidentifier] NOT NULL,
	[description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OCCUPATIONS]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OCCUPATIONS](
	[Name] [varchar](100) NULL,
	[Occupation] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_source]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_source](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_target]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_target](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_test]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_test](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudName] [varchar](7) NULL,
	[StudAge] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_testing]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_testing](
	[id] [int] NULL,
	[empname] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_trigg]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_trigg](
	[id] [int] NULL,
	[name] [varchar](500) NULL,
	[age] [int] NULL,
	[update_datetime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UPDATE_LIST]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPDATE_LIST](
	[P_ID] [int] NULL,
	[P_NAME] [varchar](100) NULL,
	[P_PRICE] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [EmployeeId], [Address], [City], [State]) VALUES (1, 1, N'Test 0', N'Gandhinagar', N'Gujarat')
INSERT [dbo].[Addresses] ([Id], [EmployeeId], [Address], [City], [State]) VALUES (2, 1, N'Test 1', N'Bhavnagar', N'Gujarat')
INSERT [dbo].[Addresses] ([Id], [EmployeeId], [Address], [City], [State]) VALUES (3, 2, N'Test 2', N'Bhavnagar', N'Gujarat')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[auditLog] ON 

INSERT [dbo].[auditLog] ([Id], [ActivityLog]) VALUES (1, N'Employee with id 12 is added successfully at Sep 12 2023  9:31PM')
INSERT [dbo].[auditLog] ([Id], [ActivityLog]) VALUES (2, N'Employee with id 13 is added successfully at Sep 12 2023  9:34PM')
INSERT [dbo].[auditLog] ([Id], [ActivityLog]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[auditLog] OFF
GO
INSERT [dbo].[Customer] ([customer_id], [contactname], [city]) VALUES (1, N'Maria Anders', N'Berlin')
INSERT [dbo].[Customer] ([customer_id], [contactname], [city]) VALUES (2, N'Ana Trujillo', N'London')
INSERT [dbo].[Customer] ([customer_id], [contactname], [city]) VALUES (3, N'Antonio Moreno', N'Lulea')
GO
SET IDENTITY_INSERT [dbo].[emp_details] ON 

INSERT [dbo].[emp_details] ([id], [date_time]) VALUES (1, CAST(N'2023-10-15T00:16:55.800' AS DateTime))
INSERT [dbo].[emp_details] ([id], [date_time]) VALUES (2, CAST(N'2023-10-15T00:17:14.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[emp_details] OFF
GO
SET IDENTITY_INSERT [dbo].[employee_payroll] ON 

INSERT [dbo].[employee_payroll] ([EmpId], [EmpName], [Designation], [Basic Pay], [House Rent Allowance], [Convence Allowance], [Medical Allowance], [Gender], [City]) VALUES (1, N'Akshay', N'CEO', 700000, 50000, 30000, 20000, N'Male', N'Mumbai')
INSERT [dbo].[employee_payroll] ([EmpId], [EmpName], [Designation], [Basic Pay], [House Rent Allowance], [Convence Allowance], [Medical Allowance], [Gender], [City]) VALUES (2, N'Ganesh', N'Manager', 35000, 20000, 11000, 12000, N'Male', N'Pune')
INSERT [dbo].[employee_payroll] ([EmpId], [EmpName], [Designation], [Basic Pay], [House Rent Allowance], [Convence Allowance], [Medical Allowance], [Gender], [City]) VALUES (3, N'Vivek', N'Sr. Software developer', 24000, 7000, 6000, 5000, N'Male', N'Mumbai')
SET IDENTITY_INSERT [dbo].[employee_payroll] OFF
GO
SET IDENTITY_INSERT [dbo].[employee_payroll_persisted_ex] ON 

INSERT [dbo].[employee_payroll_persisted_ex] ([EmpId], [EmpName], [Designation], [Basic Pay], [House Rent Allowance], [Convence Allowance], [Medical Allowance]) VALUES (1, N'Akshay', N'CEO', 700000, 50000, 30000, 20000)
INSERT [dbo].[employee_payroll_persisted_ex] ([EmpId], [EmpName], [Designation], [Basic Pay], [House Rent Allowance], [Convence Allowance], [Medical Allowance]) VALUES (2, N'Ganesh', N'Manager', 36000, 20000, 11000, 12000)
INSERT [dbo].[employee_payroll_persisted_ex] ([EmpId], [EmpName], [Designation], [Basic Pay], [House Rent Allowance], [Convence Allowance], [Medical Allowance]) VALUES (3, N'Vivek', N'Sr. Software developer', 24000, 7000, 6000, 5000)
SET IDENTITY_INSERT [dbo].[employee_payroll_persisted_ex] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeInfo] ON 

INSERT [dbo].[EmployeeInfo] ([Id], [Code], [FirstName], [LastName]) VALUES (1, N'ABCD', N'Jignesh', N'Trivedi')
INSERT [dbo].[EmployeeInfo] ([Id], [Code], [FirstName], [LastName]) VALUES (2, N'XYZ', N'Rakesh', N'Trivedi')
SET IDENTITY_INSERT [dbo].[EmployeeInfo] OFF
GO
INSERT [dbo].[Grades] ([Student], [Subject], [Marks]) VALUES (N'Jacob', N'Mathematics', 100)
INSERT [dbo].[Grades] ([Student], [Subject], [Marks]) VALUES (N'Jacob', N'Science', 95)
INSERT [dbo].[Grades] ([Student], [Subject], [Marks]) VALUES (N'Jacob', N'Geography', 90)
GO
INSERT [dbo].[Orders] ([order_id], [customer_id], [order_date], [country]) VALUES (10252, 4, CAST(N'1996-07-09' AS Date), N'Belgium')
INSERT [dbo].[Orders] ([order_id], [customer_id], [order_date], [country]) VALUES (10253, 3, CAST(N'1996-07-10' AS Date), N'Brazil')
INSERT [dbo].[Orders] ([order_id], [customer_id], [order_date], [country]) VALUES (10254, 5, CAST(N'1996-07-11' AS Date), N'Switzerland')
GO
INSERT [dbo].[PRODUCT_LIST] ([P_ID], [P_NAME], [P_PRICE]) VALUES (101, N'TEA', CAST(10.00 AS Numeric(18, 2)))
INSERT [dbo].[PRODUCT_LIST] ([P_ID], [P_NAME], [P_PRICE]) VALUES (102, N'COFFEE', CAST(25.00 AS Numeric(18, 2)))
INSERT [dbo].[PRODUCT_LIST] ([P_ID], [P_NAME], [P_PRICE]) VALUES (104, N'CHIPS', CAST(22.00 AS Numeric(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[product_sales] ON 

INSERT [dbo].[product_sales] ([prod_Id], [prod_Name], [prod_Quantity], [prod_Price]) VALUES (1, N'soap', 2, 300)
INSERT [dbo].[product_sales] ([prod_Id], [prod_Name], [prod_Quantity], [prod_Price]) VALUES (2, N'shampoo', 2, 1300)
INSERT [dbo].[product_sales] ([prod_Id], [prod_Name], [prod_Quantity], [prod_Price]) VALUES (3, N'brush', 8, 200)
SET IDENTITY_INSERT [dbo].[product_sales] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_activityLog] ON 

INSERT [dbo].[tbl_activityLog] ([Id], [ActivityInfo]) VALUES (1, N'Someone tries to insert data in Employee Table.')
INSERT [dbo].[tbl_activityLog] ([Id], [ActivityInfo]) VALUES (2, N'Someone tries to insert data in Employee Table at Sep 12 2023 10:22PM')
INSERT [dbo].[tbl_activityLog] ([Id], [ActivityInfo]) VALUES (3, N'Someone tries to update data in Employee Table at Sep 12 2023 10:29PM')
SET IDENTITY_INSERT [dbo].[tbl_activityLog] OFF
GO
INSERT [dbo].[tbl_CheckTringle] ([A], [B], [C]) VALUES (20, 20, 23)
INSERT [dbo].[tbl_CheckTringle] ([A], [B], [C]) VALUES (20, 20, 20)
INSERT [dbo].[tbl_CheckTringle] ([A], [B], [C]) VALUES (20, 21, 22)
GO
INSERT [dbo].[tbl_demo] ([Id], [Name], [Age]) VALUES (4, N'Akshay', 23)
INSERT [dbo].[tbl_demo] ([Id], [Name], [Age]) VALUES (1, N'Vijay', 25)
INSERT [dbo].[tbl_demo] ([Id], [Name], [Age]) VALUES (3, N'Sai', 22)
GO
INSERT [dbo].[tbl_demo_non_clust] ([Id], [Name], [Age]) VALUES (1, N'Anjali', 26)
INSERT [dbo].[tbl_demo_non_clust] ([Id], [Name], [Age]) VALUES (2, N'Vikrant', 25)
INSERT [dbo].[tbl_demo_non_clust] ([Id], [Name], [Age]) VALUES (3, N'Ganesh', 22)
GO
SET IDENTITY_INSERT [dbo].[tbl_employee] ON 

INSERT [dbo].[tbl_employee] ([Id], [EmpName], [EmpAge], [EmpSalary], [EmpMobile]) VALUES (1, N'Ganesh', 24, CAST(12000.43 AS Decimal(10, 2)), 8789678909)
INSERT [dbo].[tbl_employee] ([Id], [EmpName], [EmpAge], [EmpSalary], [EmpMobile]) VALUES (2, N'ABC', 22, CAST(15000.63 AS Decimal(10, 2)), 9889678909)
INSERT [dbo].[tbl_employee] ([Id], [EmpName], [EmpAge], [EmpSalary], [EmpMobile]) VALUES (3, N'Pranit', 23, CAST(15000.42 AS Decimal(10, 2)), 5689678909)
SET IDENTITY_INSERT [dbo].[tbl_employee] OFF
GO
INSERT [dbo].[tbl_guidIdTable] ([Id], [description]) VALUES (N'80778804-766a-405e-b797-62f538eb4035', N'Nice to meet you')
INSERT [dbo].[tbl_guidIdTable] ([Id], [description]) VALUES (N'e98795e0-c023-46f3-b8a7-7db7ceef0c4b', N'Hey welcome to GUID table')
INSERT [dbo].[tbl_guidIdTable] ([Id], [description]) VALUES (N'e6049d63-ea9d-4e99-a4e4-cc7a4e93d99b', N'Good to go')
GO
INSERT [dbo].[tbl_OCCUPATIONS] ([Name], [Occupation]) VALUES (N'Samantha', N'Doctor')
INSERT [dbo].[tbl_OCCUPATIONS] ([Name], [Occupation]) VALUES (N'Julia', N'Actor')
INSERT [dbo].[tbl_OCCUPATIONS] ([Name], [Occupation]) VALUES (N'Maria', N'Actor')
GO
SET IDENTITY_INSERT [dbo].[tbl_source] ON 

INSERT [dbo].[tbl_source] ([Id], [Name], [Gender]) VALUES (1, N'Akshay', N'Male')
INSERT [dbo].[tbl_source] ([Id], [Name], [Gender]) VALUES (2, N'Vivek', N'Male')
INSERT [dbo].[tbl_source] ([Id], [Name], [Gender]) VALUES (3, N'Sai', N'Female')
SET IDENTITY_INSERT [dbo].[tbl_source] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_target] ON 

INSERT [dbo].[tbl_target] ([Id], [Name], [Gender]) VALUES (1, N'Akshay', N'Male')
INSERT [dbo].[tbl_target] ([Id], [Name], [Gender]) VALUES (2, N'Vivek', N'Male')
INSERT [dbo].[tbl_target] ([Id], [Name], [Gender]) VALUES (3, N'Sai', N'Female')
SET IDENTITY_INSERT [dbo].[tbl_target] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_test] ON 

INSERT [dbo].[tbl_test] ([Id], [StudName], [StudAge]) VALUES (1, N'Akshay', 23)
INSERT [dbo].[tbl_test] ([Id], [StudName], [StudAge]) VALUES (2, N'Nikhil', 33)
INSERT [dbo].[tbl_test] ([Id], [StudName], [StudAge]) VALUES (3, N'Ganesh', 24)
SET IDENTITY_INSERT [dbo].[tbl_test] OFF
GO
INSERT [dbo].[tbl_testing] ([id], [empname]) VALUES (1, N'Akshay')
INSERT [dbo].[tbl_testing] ([id], [empname]) VALUES (2, N'Vivek')
INSERT [dbo].[tbl_testing] ([id], [empname]) VALUES (3, N'Ganesh')
GO
INSERT [dbo].[tbl_trigg] ([id], [name], [age], [update_datetime]) VALUES (1, N'Akshay', 23, CAST(N'2024-02-05T20:46:17.570' AS DateTime))
INSERT [dbo].[tbl_trigg] ([id], [name], [age], [update_datetime]) VALUES (2, N'Vivek', 24, CAST(N'2024-02-05T20:46:17.570' AS DateTime))
INSERT [dbo].[tbl_trigg] ([id], [name], [age], [update_datetime]) VALUES (1, N'Akshay', 23, CAST(N'2024-02-05T20:52:57.410' AS DateTime))
GO
INSERT [dbo].[UPDATE_LIST] ([P_ID], [P_NAME], [P_PRICE]) VALUES (101, N'TEA', CAST(10.00 AS Numeric(18, 2)))
INSERT [dbo].[UPDATE_LIST] ([P_ID], [P_NAME], [P_PRICE]) VALUES (102, N'COFFEE', CAST(25.00 AS Numeric(18, 2)))
INSERT [dbo].[UPDATE_LIST] ([P_ID], [P_NAME], [P_PRICE]) VALUES (104, N'CHIPS', CAST(22.00 AS Numeric(18, 2)))
GO
/****** Object:  Index [Ix_Filter_Salary]    Script Date: 28-04-2024 01:13:22 PM ******/
CREATE NONCLUSTERED INDEX [Ix_Filter_Salary] ON [dbo].[product_sales]
(
	[prod_Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [Ix_product_total_cost]    Script Date: 28-04-2024 01:13:22 PM ******/
CREATE NONCLUSTERED INDEX [Ix_product_total_cost] ON [dbo].[product_sales]
(
	[prod_Total_Cost] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Ix_FTE_Id_non_Clustered]    Script Date: 28-04-2024 01:13:22 PM ******/
CREATE NONCLUSTERED INDEX [Ix_FTE_Id_non_Clustered] ON [dbo].[tbl_demo]
(
	[Id] ASC,
	[Name] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Ix_FTE_Id_non_Clustered]    Script Date: 28-04-2024 01:13:22 PM ******/
CREATE NONCLUSTERED INDEX [Ix_FTE_Id_non_Clustered] ON [dbo].[tbl_demo_non_clust]
(
	[Name] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employee_payroll] ADD  DEFAULT ('Male') FOR [Gender]
GO
ALTER TABLE [dbo].[tbl_guidIdTable] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[tbl_trigg] ADD  DEFAULT (getdate()) FOR [update_datetime]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_EmployeeInfo] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeInfo] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_EmployeeInfo]
GO
/****** Object:  StoredProcedure [dbo].[MyProc_WithExcHand]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MyProc_WithExcHand]
as
begin
begin try
update tbl_employee set EmpAge = 'abc' where Id=1
end try

begin catch
	
	select Error_number() as [Error Number],
	ERROR_SEVERITY() as [Error Severity],
	ERROR_STATE() as [Error State Number],
	ERROR_PROCEDURE() as [Stored Procedure Name], 
	ERROR_LINE() as [Error on Line],
	ERROR_MESSAGE() as [Error Message]

end catch
end
GO
/****** Object:  StoredProcedure [dbo].[MyProc_WithExcHand1]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MyProc_WithExcHand1]
as
begin
begin try
update product_sales set prod_Quantity = 'abc' where prod_Id=1
end try

begin catch
	
	select Error_number() as [Error Number],
	ERROR_SEVERITY() as [Error Severity],
	ERROR_STATE() as [Error State Number],
	ERROR_PROCEDURE() as [Stored Procedure Name], 
	ERROR_LINE() as [Error on Line],
	ERROR_MESSAGE() as [Error Message]

end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_test]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_test]
@num1 int,
@num2 int = 10,
@sum int output
as
begin
	select @sum = @num1 - @num2
end
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeCountByGender]    Script Date: 28-04-2024 01:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetEmployeeCountByGender]
  @age int,
  @EmployeeCount INT OUTPUT
AS
BEGIN
  SELECT @EmployeeCount = COUNT(ID)
  FROM    tbl_employee
  WHERE   EmpAge = @age
END
GO
USE [master]
GO
