USE [master]
GO
/****** Object:  Database [demo]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE DATABASE [demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\demo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\demo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demo]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertTimeToHHMMSS]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ConvertTimeToHHMMSS]
(
    @time decimal(28,3), 
    @unit varchar(20)
)
returns varchar(20)
as
begin

    declare @seconds decimal(18,3), @minutes int, @hours int;

    if(@unit = 'hour' or @unit = 'hh' )
        set @seconds = @time * 60 * 60;
    else if(@unit = 'minute' or @unit = 'mi' or @unit = 'n')
        set @seconds = @time * 60;
    else if(@unit = 'second' or @unit = 'ss' or @unit = 's')
        set @seconds = @time;
    else set @seconds = 0; -- unknown time units

    set @hours = convert(int, @seconds /60 / 60);
    set @minutes = convert(int, (@seconds / 60) - (@hours * 60 ));
    set @seconds = @seconds % 60;

    return 
        convert(varchar(9), convert(int, @hours)) + ':' +
        right('00' + convert(varchar(2), convert(int, @minutes)), 2) + ':' +
        right('00' + convert(varchar(6), @seconds), 6)

end
GO
/****** Object:  UserDefinedFunction [dbo].[MinutesToHHMM]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create FUNCTION [dbo].[MinutesToHHMM]
(
    @minutes int 
)
RETURNS varchar(30)
AS

BEGIN
declare @h int
        set @h= @minutes / 60
        declare @mins varchar(2)
        set @mins= iif(@minutes%60<10,concat('0',cast((@minutes % 60) as varchar(2))),cast((@minutes % 60) as varchar(2)))
return iif(@h <10, concat('0', cast(@h as varchar(5)),':',@mins)
        ,concat(cast(@h as varchar(5)),':',@mins))

end
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceInOutLogs]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceInOutLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[SiftRefId] [int] NULL,
	[AttenDate] [date] NULL,
	[AttenTime] [time](7) NULL,
	[InOut] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControllerActionMasters]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControllerActionMasters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [varchar](100) NULL,
	[ActionMethodName] [varchar](100) NULL,
	[IsActive] [int] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifyOn] [datetime2](7) NULL,
	[ModifyBy] [varchar](100) NULL,
 CONSTRAINT [PK_ControllerActionMasters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_codeMaster]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_codeMaster](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobCode] [varchar](100) NULL,
	[JobDescription] [varchar](300) NULL,
	[DB_Name] [varchar](100) NULL,
	[SP_Name] [varchar](200) NULL,
	[syncStartDate] [datetime] NULL,
	[syncEndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleControllActionMappings]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleControllActionMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ContrActionId] [int] NULL,
 CONSTRAINT [PK_RoleControllActionMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesMasters]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesMasters](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifyOn] [datetime2](7) NULL,
	[ModifyBy] [varchar](100) NULL,
 CONSTRAINT [PK_RolesMasters] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftReferMasters]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftReferMasters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [varchar](20) NULL,
	[ShiftDescription] [varchar](500) NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartsFrom] [time](7) NULL,
	[EndsAt] [time](7) NULL,
	[ShiftsReferenceId] [int] NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAttendanceLogs]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAttendanceLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AttenDate] [date] NULL,
	[AttenTime] [time](7) NULL,
	[IsDeleted] [int] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifyBy] [varchar](100) NULL,
	[ModifyOn] [datetime2](7) NULL,
	[DeletedBy] [varchar](100) NULL,
	[DeletedOn] [datetime2](7) NULL,
	[Action] [varchar](100) NULL,
 CONSTRAINT [PK_UserAttendanceLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMasters]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMasters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Address] [varchar](500) NULL,
	[Phone] [bigint] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifyOn] [datetime2](7) NULL,
	[ModifyBy] [varchar](100) NULL,
	[Password] [varchar](max) NULL,
 CONSTRAINT [PK_UserMasters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMappings]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMappings](
	[Urmid] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_UserRoleMappings] PRIMARY KEY CLUSTERED 
(
	[Urmid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWorkingHours]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWorkingHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AttenDate] [date] NULL,
	[AttenRemark] [varchar](50) NULL,
	[TotalHoursWorked] [time](7) NULL,
	[TotalBreakHours] [time](7) NULL,
	[WorkingHours] [time](7) NULL,
 CONSTRAINT [PK_UserWorkingHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240421143225_InitialMigration', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[AttendanceInOutLogs] ON 

INSERT [dbo].[AttendanceInOutLogs] ([Id], [UserId], [SiftRefId], [AttenDate], [AttenTime], [InOut]) VALUES (1, 4, 1, CAST(N'2024-04-22' AS Date), CAST(N'09:00:00' AS Time), N'IN')
INSERT [dbo].[AttendanceInOutLogs] ([Id], [UserId], [SiftRefId], [AttenDate], [AttenTime], [InOut]) VALUES (2, 4, 1, CAST(N'2024-04-22' AS Date), CAST(N'11:30:00' AS Time), N'OUT')
INSERT [dbo].[AttendanceInOutLogs] ([Id], [UserId], [SiftRefId], [AttenDate], [AttenTime], [InOut]) VALUES (3, 4, 1, CAST(N'2024-04-22' AS Date), CAST(N'11:50:00' AS Time), N'IN')
SET IDENTITY_INSERT [dbo].[AttendanceInOutLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ControllerActionMasters] ON 

INSERT [dbo].[ControllerActionMasters] ([Id], [ControllerName], [ActionMethodName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (1, N'Home', N'AssignRole', 1, CAST(N'2024-04-22T21:55:00.0779478' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[ControllerActionMasters] ([Id], [ControllerName], [ActionMethodName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (2, N'Home', N'Shift', 1, CAST(N'2024-04-22T21:56:03.5210000' AS DateTime2), NULL, CAST(N'2024-04-28T00:55:13.4233183' AS DateTime2), N'1')
INSERT [dbo].[ControllerActionMasters] ([Id], [ControllerName], [ActionMethodName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (3, N'Home', N'AddControllerAction', 1, CAST(N'2024-04-28T01:02:12.4220000' AS DateTime2), N'1', CAST(N'2024-04-28T01:08:08.0214390' AS DateTime2), N'1')
SET IDENTITY_INSERT [dbo].[ControllerActionMasters] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_codeMaster] ON 

INSERT [dbo].[Job_codeMaster] ([JobId], [JobCode], [JobDescription], [DB_Name], [SP_Name], [syncStartDate], [syncEndDate]) VALUES (1, N'sync_UsersAttendaceDetails', N'Daily sync Users loged in and loged out attendace records', N'demo', N'SP_SyncInOutUserAttendace', CAST(N'2024-04-26T20:13:38.883' AS DateTime), CAST(N'2089-12-31T23:59:59.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[Job_codeMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleControllActionMappings] ON 

INSERT [dbo].[RoleControllActionMappings] ([Id], [RoleId], [ContrActionId]) VALUES (1, 1, 1)
INSERT [dbo].[RoleControllActionMappings] ([Id], [RoleId], [ContrActionId]) VALUES (2, 1, 4)
INSERT [dbo].[RoleControllActionMappings] ([Id], [RoleId], [ContrActionId]) VALUES (4, 2, 4)
SET IDENTITY_INSERT [dbo].[RoleControllActionMappings] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesMasters] ON 

INSERT [dbo].[RolesMasters] ([RoleId], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (1, N'Super Admin', 1, CAST(N'2024-04-13T18:24:05.8466667' AS DateTime2), N'AK', NULL, NULL)
INSERT [dbo].[RolesMasters] ([RoleId], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (2, N'Admin', 1, CAST(N'2024-04-13T18:24:28.1800000' AS DateTime2), N'AK', NULL, NULL)
INSERT [dbo].[RolesMasters] ([RoleId], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (3, N'Power User', 1, CAST(N'2024-04-13T18:24:40.5633333' AS DateTime2), N'AK', CAST(N'2024-04-27T15:46:46.9877307' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[RolesMasters] OFF
GO
SET IDENTITY_INSERT [dbo].[ShiftReferMasters] ON 

INSERT [dbo].[ShiftReferMasters] ([Id], [ShiftName], [ShiftDescription], [IsActive]) VALUES (1, N'First Shift', N'Employees could work the standard 9 to 5', 1)
INSERT [dbo].[ShiftReferMasters] ([Id], [ShiftName], [ShiftDescription], [IsActive]) VALUES (2, N'Second Shift', N'This shift runs from afternoon to around midnight', 1)
INSERT [dbo].[ShiftReferMasters] ([Id], [ShiftName], [ShiftDescription], [IsActive]) VALUES (3, N'Third Shift', N'This is the night shift, the midnight shift, or the graveyard shift. It generally begins around 11 p.m. or midnight and lasts through the morning', 1)
SET IDENTITY_INSERT [dbo].[ShiftReferMasters] OFF
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([Id], [StartsFrom], [EndsAt], [ShiftsReferenceId], [IsActive]) VALUES (1, CAST(N'09:00:00' AS Time), CAST(N'16:59:59' AS Time), 1, 1)
INSERT [dbo].[Shifts] ([Id], [StartsFrom], [EndsAt], [ShiftsReferenceId], [IsActive]) VALUES (2, CAST(N'17:00:00' AS Time), CAST(N'23:59:59' AS Time), 2, 1)
INSERT [dbo].[Shifts] ([Id], [StartsFrom], [EndsAt], [ShiftsReferenceId], [IsActive]) VALUES (3, CAST(N'01:00:00' AS Time), CAST(N'08:59:59' AS Time), 3, 1)
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAttendanceLogs] ON 

INSERT [dbo].[UserAttendanceLogs] ([Id], [UserId], [AttenDate], [AttenTime], [IsDeleted], [CreatedBy], [CreatedOn], [ModifyBy], [ModifyOn], [DeletedBy], [DeletedOn], [Action]) VALUES (1, 4, CAST(N'2024-04-22' AS Date), CAST(N'09:00:00' AS Time), 0, N'4', CAST(N'2024-04-22T20:51:49.4300000' AS DateTime2), NULL, NULL, NULL, NULL, N'Insert')
INSERT [dbo].[UserAttendanceLogs] ([Id], [UserId], [AttenDate], [AttenTime], [IsDeleted], [CreatedBy], [CreatedOn], [ModifyBy], [ModifyOn], [DeletedBy], [DeletedOn], [Action]) VALUES (2, 4, CAST(N'2024-04-22' AS Date), CAST(N'11:30:00' AS Time), 0, N'4', CAST(N'2024-04-22T21:51:49.4300000' AS DateTime2), NULL, NULL, NULL, NULL, N'Insert')
INSERT [dbo].[UserAttendanceLogs] ([Id], [UserId], [AttenDate], [AttenTime], [IsDeleted], [CreatedBy], [CreatedOn], [ModifyBy], [ModifyOn], [DeletedBy], [DeletedOn], [Action]) VALUES (3, 4, CAST(N'2024-04-22' AS Date), CAST(N'11:50:00' AS Time), 0, N'4', CAST(N'2024-04-22T22:51:49.4300000' AS DateTime2), NULL, NULL, NULL, NULL, N'Insert')
SET IDENTITY_INSERT [dbo].[UserAttendanceLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMasters] ON 

INSERT [dbo].[UserMasters] ([Id], [Name], [Email], [Address], [Phone], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy], [Password]) VALUES (1, N'akshay', N'akshay123@gmail.com', N'Miraroad', 1234554321, 1, NULL, NULL, CAST(N'2024-04-27T14:28:02.9219735' AS DateTime2), N'1', N'Akshay@123')
INSERT [dbo].[UserMasters] ([Id], [Name], [Email], [Address], [Phone], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy], [Password]) VALUES (2, N'Ganesh', N'ganesh123@gmail.com', N'Mira Road', 7678656789, 1, NULL, NULL, CAST(N'2024-04-27T14:31:14.9627276' AS DateTime2), N'1', N'Ganesh@123')
INSERT [dbo].[UserMasters] ([Id], [Name], [Email], [Address], [Phone], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy], [Password]) VALUES (3, N'Sai', N'Sai123@gmail.com', N'Chennai', 7878788989, 1, CAST(N'2024-04-19T00:00:38.6430000' AS DateTime2), NULL, CAST(N'2024-04-27T14:24:26.0328229' AS DateTime2), NULL, N'Sai@123')
SET IDENTITY_INSERT [dbo].[UserMasters] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleMappings] ON 

INSERT [dbo].[UserRoleMappings] ([Urmid], [UserId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoleMappings] ([Urmid], [UserId], [RoleId]) VALUES (2, 2, 4)
INSERT [dbo].[UserRoleMappings] ([Urmid], [UserId], [RoleId]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[UserRoleMappings] OFF
GO
SET IDENTITY_INSERT [dbo].[UserWorkingHours] ON 

INSERT [dbo].[UserWorkingHours] ([Id], [UserId], [AttenDate], [AttenRemark], [TotalHoursWorked], [TotalBreakHours], [WorkingHours]) VALUES (1, 2, CAST(N'2024-04-24' AS Date), N'EarlyLeave', CAST(N'07:33:00' AS Time), CAST(N'00:27:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[UserWorkingHours] ([Id], [UserId], [AttenDate], [AttenRemark], [TotalHoursWorked], [TotalBreakHours], [WorkingHours]) VALUES (2, 4, CAST(N'2024-04-22' AS Date), N'EarlyLeave', CAST(N'07:26:00' AS Time), CAST(N'00:34:00' AS Time), CAST(N'08:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[UserWorkingHours] OFF
GO
/****** Object:  Index [IX_RoleControllActionMappings_ContrActionId]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleControllActionMappings_ContrActionId] ON [dbo].[RoleControllActionMappings]
(
	[ContrActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleControllActionMappings_RoleId]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleControllActionMappings_RoleId] ON [dbo].[RoleControllActionMappings]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAttendanceLogs_UserId]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAttendanceLogs_UserId] ON [dbo].[UserAttendanceLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserMast__5C7E359E41413842]    Script Date: 28-04-2024 01:13:59 PM ******/
ALTER TABLE [dbo].[UserMasters] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserMast__A9D10534D21267C8]    Script Date: 28-04-2024 01:13:59 PM ******/
ALTER TABLE [dbo].[UserMasters] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoleMappings_RoleId]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoleMappings_RoleId] ON [dbo].[UserRoleMappings]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoleMappings_UserId]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoleMappings_UserId] ON [dbo].[UserRoleMappings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWorkingHours_UserId]    Script Date: 28-04-2024 01:13:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserWorkingHours_UserId] ON [dbo].[UserWorkingHours]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShiftReferMasters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttendanceInOutLogs]  WITH CHECK ADD FOREIGN KEY([SiftRefId])
REFERENCES [dbo].[ShiftReferMasters] ([Id])
GO
ALTER TABLE [dbo].[AttendanceInOutLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMasters] ([Id])
GO
ALTER TABLE [dbo].[RoleControllActionMappings]  WITH CHECK ADD  CONSTRAINT [FK_RoleControllActionMappings_ControllerActionMasters_ContrActionId] FOREIGN KEY([ContrActionId])
REFERENCES [dbo].[ControllerActionMasters] ([Id])
GO
ALTER TABLE [dbo].[RoleControllActionMappings] CHECK CONSTRAINT [FK_RoleControllActionMappings_ControllerActionMasters_ContrActionId]
GO
ALTER TABLE [dbo].[RoleControllActionMappings]  WITH CHECK ADD  CONSTRAINT [FK_RoleControllActionMappings_RolesMasters_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RolesMasters] ([RoleId])
GO
ALTER TABLE [dbo].[RoleControllActionMappings] CHECK CONSTRAINT [FK_RoleControllActionMappings_RolesMasters_RoleId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([ShiftsReferenceId])
REFERENCES [dbo].[ShiftReferMasters] ([Id])
GO
ALTER TABLE [dbo].[UserAttendanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserAttendanceLogs_UserMasters_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMasters] ([Id])
GO
ALTER TABLE [dbo].[UserAttendanceLogs] CHECK CONSTRAINT [FK_UserAttendanceLogs_UserMasters_UserId]
GO
ALTER TABLE [dbo].[UserRoleMappings]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleMappings_RolesMasters_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RolesMasters] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoleMappings] CHECK CONSTRAINT [FK_UserRoleMappings_RolesMasters_RoleId]
GO
ALTER TABLE [dbo].[UserRoleMappings]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleMappings_UserMasters_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMasters] ([Id])
GO
ALTER TABLE [dbo].[UserRoleMappings] CHECK CONSTRAINT [FK_UserRoleMappings_UserMasters_UserId]
GO
ALTER TABLE [dbo].[UserWorkingHours]  WITH CHECK ADD  CONSTRAINT [FK_UserWorkingHours_UserMasters_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMasters] ([Id])
GO
ALTER TABLE [dbo].[UserWorkingHours] CHECK CONSTRAINT [FK_UserWorkingHours_UserMasters_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_dailyUserAttendance]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Akshay Gaikwad>
-- Create date: <23-APR-2024>
-- Description:	<Daily check User attendance log>
-- =============================================
CREATE PROCEDURE [dbo].[sp_dailyUserAttendance] 
	@JOB_Code VARCHAR(100)
AS
BEGIN
	
	DECLARE @ERROR_MESSAGE VARCHAR(MAX) = '',
			@ERROR_CODE VARCHAR(10) = '400',
			@OUTPUT VARCHAR(MAX) 

	DECLARE @SYNC_FROM_DATE DATETIME = NULL,
			@SYNC_TO_DATE DATETIME = NULL,
			@SP_NAME VARCHAR(MAX) = ''

	IF(ISNULL(@JOB_Code,'') = '')
	BEGIN
		SET @ERROR_MESSAGE = 'JOB_CODE cannot be null/blank'
		GOTO ERROR_BLOCK
	END

	IF OBJECT_ID('tempdb..#tempSyncStatus') IS NOT NULL 
	DROP TABLE #tempSyncStatus;

	CREATE TABLE #tempSyncStatus
	(
		ERROR_CODE VARCHAR(10),
		RESPONSE_MSG VARCHAR(MAX)
	)

	BEGIN TRY

		IF NOT EXISTS(SELECT 1 FROM Job_codeMaster WHERE JobCode = @JOB_Code)
		BEGIN
			SET @ERROR_MESSAGE = 'JOB_CODE is invalid or not exist'
			GOTO ERROR_BLOCK
		END
		ELSE
		BEGIN

			SELECT 
			@SP_NAME = SP_Name, 
			@SYNC_FROM_DATE = syncStartDate,
			@SYNC_TO_DATE = syncEndDate
			FROM Job_codeMaster 
			WHERE JobCode = @JOB_Code

			IF ( (ISNULL(@SP_NAME,'') = '') OR (ISNULL(@SYNC_FROM_DATE,'') = '') OR (ISNULL(@SYNC_TO_DATE,'') = ''))
			BEGIN
				SET @ERROR_MESSAGE = 'SP_NAME, SYNC_FROM_DATE, and SYNC_TO_DATE cannot be null/blank'
				GOTO ERROR_BLOCK
			END

			BEGIN TRY
				
				
				EXEC @SP_NAME @SYNC_FROM_DATE, @SYNC_TO_DATE, @ERROR_CODE OUTPUT, @OUTPUT OUTPUT
				
				INSERT INTO #tempSyncStatus
				SELECT @ERROR_CODE,@OUTPUT
				
				IF(@@ROWCOUNT > 0)
				BEGIN
					IF EXISTS(SELECT 1 FROM #tempSyncStatus WHERE ERROR_CODE = '400')
					BEGIN
						SELECT @ERROR_CODE = ERROR_CODE , @ERROR_MESSAGE = RESPONSE_MSG
						FROM #tempSyncStatus 
						WHERE ERROR_CODE = '400'
						GOTO ERROR_BLOCK
					END 
					ELSE IF EXISTS(SELECT 1 FROM #tempSyncStatus WHERE ERROR_CODE = '200')
					BEGIN
						SELECT @ERROR_CODE = ERROR_CODE , @OUTPUT = RESPONSE_MSG
						FROM #tempSyncStatus 
						WHERE ERROR_CODE = '200'

						UPDATE Job_codeMaster SET  syncStartDate = GETDATE() WHERE JobCode = 'sync_UsersAttendaceDetails'

						GOTO DONE
					END 
				END
				ELSE
				BEGIN
					SET @ERROR_MESSAGE = 'Something went wrong' 
					GOTO ERROR_BLOCK
				END

			END TRY
			BEGIN CATCH
				SET @ERROR_MESSAGE = 'ERROR FROM INNER SP - ' +  ERROR_MESSAGE()
				GOTO ERROR_BLOCK
			END CATCH
		END
	END TRY
	BEGIN CATCH
		SET @ERROR_MESSAGE = ERROR_MESSAGE()
		GOTO ERROR_BLOCK
	END CATCH

	IF(@ERROR_MESSAGE <> '' OR @ERROR_CODE = '400')
	BEGIN
		GOTO ERROR_BLOCK
	END

	DONE:
	BEGIN
		SELECT @ERROR_CODE AS ERROR_CODE , @OUTPUT AS [OUTPUT]
		RETURN
	END

	ERROR_BLOCK:
	BEGIN
		SELECT @ERROR_CODE AS ERROR_CODE , @ERROR_MESSAGE AS [ERROR_MESSAGE]
		RETURN
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SyncInOutUserAttendace]    Script Date: 28-04-2024 01:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Akshay Gaikwad>
-- Create date: <23-APR-2024>
-- Description:	<Daily check User attendance log>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SyncInOutUserAttendace] 
	@SYNC_FROM_DATE DATETIME,
	@SYNC_TO_DATE DATETIME,
	@ERROR_CODE VARCHAR(10) OUTPUT,
	@OUTPUT VARCHAR(MAX) OUTPUT
AS
BEGIN
	
	DECLARE @ERROR_MESSAGE VARCHAR(MAX) = ''			
	SET @ERROR_CODE = '400'
			
	IF(ISNULL(@SYNC_FROM_DATE,'') = '')
	BEGIN
		SET @ERROR_MESSAGE = 'SYNC_FROM_DATE cannot be null/blank'
		GOTO ERROR_BLOCK
	END

	IF(ISNULL(@SYNC_TO_DATE,'') = '')
	BEGIN
		SET @ERROR_MESSAGE = 'SYNC_TO_DATE cannot be null/blank'
		GOTO ERROR_BLOCK
	END

	IF(@SYNC_FROM_DATE > @SYNC_TO_DATE)
	BEGIN
		SET @ERROR_MESSAGE = 'SYNC_FROM_DATE cannot be greater than SYNC_TO_DATE'
		GOTO ERROR_BLOCK
	END

	BEGIN TRANSACTION TRNS
	BEGIN TRY

		BEGIN
		 
			IF OBJECT_ID('tempdb..#tempTbl_attendaceData') IS NOT NULL 
			DROP TABLE #tempTbl_attendaceData;

			CREATE TABLE #tempTbl_attendaceData
			(
				id int identity(1,1),
				userId int,
				attenDate date,
				attenTime time,
				InOut varchar(10),
				SiftRefId int
			)

			DECLARE @COUNTVAL INT

			declare @userId int, @createdOn datetime, @attenDate date, @attenTime time

			SELECT  @COUNTVAL = ROW_NUMBER() over (order by UserId asc)
			FROM UserAttendanceLogs 
			GROUP BY UserId,CreatedOn 
			HAVING CreatedOn between @SYNC_FROM_DATE and @SYNC_TO_DATE 

			IF(@COUNTVAL > 0)
			BEGIN
				DECLARE CURSOR1 CURSOR LOCAL FOR
				SELECT   UserId, CreatedOn, AttenDate, AttenTime
				FROM UserAttendanceLogs  
				GROUP BY UserId,CreatedOn,AttenDate,AttenTime 
				HAVING CreatedOn between @SYNC_FROM_DATE and @SYNC_TO_DATE 
				order by CreatedOn asc

				open CURSOR1
				fetch next from CURSOR1 into @userId, @createdOn, @attenDate, @attenTime

				while @@FETCH_STATUS = 0
				BEGIN
				
					IF(@COUNTVAL % 2 = 0)
					BEGIN
						INSERT INTO #tempTbl_attendaceData (UserId, AttenDate, AttenTime, InOut, SiftRefId)
						SELECT 
						--@COUNTVAL 'CountValue',
						@userId 'UserId', 
						--@createdOn 'CreatedOn', 
						@attenDate 'AttenDate', 
						@attenTime 'AttenTime', 
						'IN' 'IN/OUT', 
						CASE WHEN (
									SELECT T2.Id 
									FROM Shifts T1 
									INNER JOIN ShiftReferMasters T2 
									ON T1.ShiftsReferenceId = T2.Id 
									WHERE @attenTime BETWEEN StartsFrom AND EndsAt
								   ) IS NOT NULL
							 THEN 
								  (	SELECT T2.Id 
									FROM Shifts T1 
									INNER JOIN ShiftReferMasters T2 
									ON T1.ShiftsReferenceId = T2.Id 
									WHERE @attenTime BETWEEN StartsFrom AND EndsAt
								  ) 
							END SiftRefId 
					END
					ELSE
					BEGIN
						INSERT INTO #tempTbl_attendaceData (UserId, AttenDate, AttenTime, InOut, SiftRefId)
						SELECT 
						--@COUNTVAL 'CountValue',
						@userId 'UserId', 
						--@createdOn 'CreatedOn', 
						@attenDate 'AttenDate', 
						@attenTime 'AttenTime', 
						'OUT' 'IN/OUT', 
						CASE WHEN (
									SELECT T2.Id 
									FROM Shifts T1 
									INNER JOIN ShiftReferMasters T2 
									ON T1.ShiftsReferenceId = T2.Id 
									WHERE @attenTime BETWEEN StartsFrom AND EndsAt
								   ) IS NOT NULL
							 THEN 
								  (	SELECT T2.Id 
									FROM Shifts T1 
									INNER JOIN ShiftReferMasters T2 
									ON T1.ShiftsReferenceId = T2.Id 
									WHERE @attenTime BETWEEN StartsFrom AND EndsAt
								  ) 
							END SiftRefId
					END

					SET @COUNTVAL = @COUNTVAL - 1
					fetch next from CURSOR1 into @userId, @createdOn, @attenDate, @attenTime
				END

				close CURSOR1
				deallocate cursor1

				IF EXISTS(SELECT COUNT(*) FROM #tempTbl_attendaceData)
				BEGIN
					--INSERT INTO AttendanceInOutLogs (UserId, AttenDate, AttenTime, InOut, SiftRefId)
					SELECT UserId, AttenDate, AttenTime, InOut, SiftRefId FROM #tempTbl_attendaceData
					
					IF @@ROWCOUNT > 0
					BEGIN
						WITH CTE AS(
							SELECT    UserId, AttenDate, datepart(hh, AttenTime) * 60 + datepart(mi, AttenTime) as mins
									, ROW_NUMBER() OVER ( PARTITION BY UserId, AttenDate ORDER BY AttenTime) as id
							FROM    #tempTbl_attendaceData
						)
						--INSERT INTO UserWorkingHours (UserId, AttenDate, AttenRemark, WorkingHours, TotalHoursWorked, TotalBreakHours)
						select distinct UserId, AttenDate,
						case when datepart(HH,TotalHoursWorked)  = datepart(HH,WORKING_HOURS) then 'Present'
							 when datepart(HH,TotalHoursWorked) <= datepart(HH,WORKING_HOURS)/2 then 'HalfDay'
							 when datepart(HH,TotalHoursWorked) > datepart(HH,WORKING_HOURS)/2 and datepart(HH,TotalHoursWorked) < datepart(HH,WORKING_HOURS) then 'EarlyLeave'
						end 'remakrs', WORKING_HOURS,  TotalHoursWorked,  
						(SELECT DBO.ConvertTimeToHHMMSS(DATEDIFF(second,TotalHoursWorked,WORKING_HOURS),'s')) TotalBreakHours
						from
						( 
						SELECT distinct TAB.UserId, TAB.AttenDate, mins as TotalHoursWorked, '8:00:00.000' WORKING_HOURS
						FROM (
							SELECT distinct A.UserId, A.AttenDate,  (SELECT DBO.ConvertTimeToHHMMSS(SUM(datediff(second,A.AttenTime,B.AttenTime  )),'s') ) as mins
							FROM (
								SELECT * FROM #tempTbl_attendaceData WHERE id%2 = 1
							) A INNER JOIN (   
								SELECT    * FROM #tempTbl_attendaceData WHERE    id%2 = 0
							) B ON A.UserId = B.UserId and A.AttenDate = B.AttenDate and A.id + 1 = B.id   
							GROUP BY A.UserId, A.AttenDate
						) TAB
						INNER JOIN #tempTbl_attendaceData C
						ON TAB.UserId = C.UserId
						AND TAB.AttenDate = C.AttenDate
						INNER JOIN Shifts D
						ON D.ShiftsReferenceId = C.SiftRefId
						) main  
					END

				END

			END
			ELSE
			BEGIN
				IF(@@TRANCOUNT > 0)
				BEGIN
					ROLLBACK TRANSACTION TRNS
				END
				SET @ERROR_CODE = '200' 
				SET @OUTPUT = 'No data to process'
				GOTO DONE
			END
			

		END

		IF(@@TRANCOUNT > 0)
		BEGIN
			COMMIT TRANSACTION TRNS
			SET @ERROR_CODE = '200'
			SET @OUTPUT = 'Sync done successfully!!!'
			GOTO DONE
		END

	END TRY
	BEGIN CATCH
		IF(@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION TRNS
		END
		SET @ERROR_MESSAGE = ERROR_MESSAGE()
		GOTO ERROR_BLOCK
	END CATCH

	IF(@ERROR_MESSAGE <> '' AND @ERROR_CODE = '400')
	BEGIN
		GOTO ERROR_BLOCK
	END

	DONE:
	BEGIN
		SELECT @ERROR_CODE = @ERROR_CODE, @OUTPUT = @OUTPUT
		RETURN
	END

	ERROR_BLOCK:
	BEGIN
		SELECT @ERROR_CODE = @ERROR_CODE, @OUTPUT= @ERROR_MESSAGE
		RETURN
	END

END
GO
USE [master]
GO
